<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Authy_ADFS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Authy_ADFS.Properties.Settings>
      <setting name="AuthyAPIKey" serializeAs="String">
        <value>apikey here</value>
      </setting>
      <setting name="AuthyTestMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DataStore" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ADAttribute" serializeAs="String">
        <value />
      </setting>
      <setting name="DocumentDBURI" serializeAs="String">
        <value />
      </setting>
      <setting name="DocumentDBKey" serializeAs="String">
        <value />
      </setting>
    </Authy_ADFS.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>